{% extends 'view/layout/base.html' %}

{% block body %}

<div id="div-boton">
  <a href="/">
  <button id='inicio'>Volver a inicio</button>
  </a>
</div>

<h2>Nuevo vehículo</h2>

<div id="nuevo-vehiculo">
  <form action="/cars/new" method="POST">

    <label for="id-marca">Marca</label>
    <input type="text" name="marca" id="id-marca" placeholder="Marca">

    <label for="id-modelo">Modelo</label>
    <input type="text" name="modelo" id="id-modelo" placeholder="Modelo">

    <label for="id-año">Año</label>
    <input type="text" name="año" id="id-año" placeholder="Año">

    <label for="id-kms">Km</label>
    <input type="text" name="kms" id="id-kms" placeholder="Km">

    <label for="id-color">Color</label>
    <input type="text" name="color" id="id-color" placeholder="Color">

    <label for="id-aire-acondicionado">Aire acondicionado</label>
    <input type="text" name="aire-acondicionado" id="id-aire-acondicionado" placeholder="Aire acondicionado">

    <label for="id-pasajeros">Pasajeros</label>
    <input type="text" name="pasajeros" id="id-pasajeros" placeholder="Pasajeros">

    <label for="id-transmision">Transmision</label>
    <input type="text" name="transmision" id="id-transmision" placeholder="Transmision">

    <input type="submit" value="Agregar vehículo">

  </form>

</div>

{% endblock %}
