header {
  height: 100px;
  background-color: blue;
}

.title-header{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#nuevo-vehiculo, #nuevo-cliente, #nuevo-alquiler{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.notificacion{
  border: 5px solid;
}

.error{
  border-color: red;
}

.exito{
  border-color: green;
}

input[type=submit], button {
  background-color: #035de4;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

button:hover, input[type=submit]:hover{
  background-color: #4c76ff;
}
 
.menu{
  display: table;
	margin: 0 auto;
}

ul{
  list-style-type: none;
  overflow: hidden;
  padding-left: 0px;
}

ul li{
  float: left;
  background-color: #035de4;
}

ul li:hover{
  background-color: #4c76ff;
}

ul li a{
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.block-body{
  text-align: center;
  display: grid;
}

.filtrar-pagos{
  display: flex;
  justify-content: center;
  margin: 10px;
}

#pagos{
  background-color: green;
}

#impagos{
  background-color: red;
}

.oculto{
  display: none;
}
