{% extends 'view/layout/base.html' %}

{% block body %}

  <h2>Lista de alquileres</h2>

  {% for error in errors %}
    <div class="notificacion error">
      {{error}}
    </div>
  {% endfor %}

  {% for message in messages %}
    <div class="notificacion exito">
      {{message}}
    </div>
  {% endfor %}

  <div class="filtrar-pagos">
    <div id="div-boton">
        <button id='impagos'>Impagos</button>
    </div>
  
    <div id="div-boton">
        <button id='pagos'>Pagos</button>
    </div>

    <div id="div-boton">
      <button id='todos'>Todos</button>
  </div>
  </div>

  <div id="div-boton">
    <a href="/rentals/new">
      <button id=''>Agregar alquiler</button>
    </a>
  </div>

  <table id="tabla-alquileres">
    <tr>
      <th>Auto</th>
      <th>Cliente</th>
      <th>Precio unitario</th>
      <th>Fecha desde</th>
      <th>Fecha hasta</th>
      <th>Precio total</th>
      <th>Medio de pago</th>
      <th>Pago</th>
    </tr>

    <tbody class="impagos">
      {% for rental in data.rentals %}
        {% if rental.pago == "FALSE" %}
          {% include './table.html' %}
        {% endif %}
      {% endfor %}
    </tbody>

    <tbody class="pagos">
      {% for rental in data.rentals %}
        {% if rental.pago == "TRUE" %}
          {% include './table.html' %}
        {% endif %}
      {% endfor %}
    </tbody>

  </table>

{% endblock %}

{% block script %}
  <script src="/js/rentalModule.js"></script>
{% endblock %}
